
name: Build and Push to GHCR

on:
  push:
    branches:
      - main

env:
  CLIENT_IMAGE_NAME: client
  SERVER_IMAGE_NAME: server

jobs:
  build-and-push:
    name: Build and Push to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Client Image
      uses: docker/build-push-action@v4
      with:
        context: ./client
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/${{ env.CLIENT_IMAGE_NAME }}:${{ github.sha }}

    - name: Build and Push Server Image
      uses: docker/build-push-action@v4
      with:
        context: ./server
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/${{ env.SERVER_IMAGE_NAME }}:${{ github.sha }}
